$blue-color:#678FF2;
$white-color: #fff;
$black-color: #000000;
$red-color: #f26767;
$blue_s-color: #bec0e0;

$media_1: 1400px;
$media_2: 1200px;
$media_3: 992px;
$media_4: 768px;
$media_5: 576px;
$media_6: 375px;

